<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="LogConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{dd-MM-yyyy HH:mm:ss} [%t] %c{1} - %msg%n"/>
        </Console>
        <File name="FileLogger" fileName="exports/logs/app-xml.log">
            <PatternLayout pattern="[%-5level] %d{dd-MM-yyyy HH:mm:ss} [%t] %c{1} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogConsole"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>